body {
  font-family: "Ubuntu", sans-serif!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  --main-color: #00BCD4;
  --normal-color: #00bbd463;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
